{{#each books}}
  <div class="chart-container" style="height: 40vh; width: 90vw">
    <canvas id="{{this.uuid}}"></canvas>
  </div>
{{/each}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>
  {{#each books}}
    const {{this.uuid}} = new Chart('{{this.uuid}}', {
      type: 'line',
      data: {
        datasets: [{
          label: '{{@key}}',
          data: 
            [
              {{#each this.data}}
                {
                  date: '{{this.date}}',
                  price: '{{this.price}}'
                },
              {{/each}}
            ],
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      },
      options: {
        maintainAspectRatio: false,
        parsing: {
          xAxisKey: 'date',
          yAxisKey: 'price',
        },
      }
  });
  {{/each}}
</script>